Django>=6.0.7
djangorestframework>=3.17.1
djangorestframework-simplejwt>=5.5.1
django-cors-headers>=4.9.0
drf-spectacular>=0.30.0
dj-database-url>=3.1.2
google-auth>=2.56.2
requests>=2.34.2
psycopg2-binary>=2.9.9
whitenoise>=6.7.0
pyasn1>=0.6.4
pyasn1-modules>=0.4.2
cryptography>=49.0.0
PyJWT>=2.13.0
urllib3>=2.7.0
gunicorn>=23.0.0


